# World Bank API

#### Import dependencies and construct variables

In [58]:
import requests
from pprint import pprint
import pandas as pd
from sqlalchemy import create_engine

# variables
url = "http://api.worldbank.org/v2/"

# default response format = XML
response_format = "json"

# default number of countries per page = 50
countries_per_page = 304

#### Compile the query URL

In [59]:
# Compile the query URL
query_url = f"{url}country/all?format={response_format}&per_page={countries_per_page}"
print(query_url)

http://api.worldbank.org/v2/country/all?format=json&per_page=304

#### Execute the GET request

In [60]:
# submit request

countries_response = requests.get(query_url).json()
#countries_response

#### Explore the response

In [61]:
print(f"Response Type: {type(countries_response)}")
print(f"Response Length: {len(countries_response)}")

Response Type: <class 'list'>
Response Length: 2

In [62]:
#countries_response

In [63]:
countries_response[0]

{'page': 1, 'pages': 1, 'per_page': '304', 'total': 304}

In [64]:
#countries_response[1]

In [65]:
print("RESPONSE ITEM 1:")
print("-"*25)
pprint(countries_response[0])

print()

print("RESPONSE ITEM 2:")
print("-"*25)

for i in range(0,4):
    pprint(countries_response[1][i])

RESPONSE ITEM 1:
-------------------------
{'page': 1, 'pages': 1, 'per_page': '304', 'total': 304}

RESPONSE ITEM 2:
-------------------------
{'adminregion': {'id': '', 'iso2code': '', 'value': ''},
 'capitalCity': 'Oranjestad',
 'id': 'ABW',
 'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
 'iso2Code': 'AW',
 'latitude': '12.5167',
 'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
 'longitude': '-70.0167',
 'name': 'Aruba',
 'region': {'id': 'LCN',
            'iso2code': 'ZJ',
            'value': 'Latin America & Caribbean '}}
{'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
 'capitalCity': 'Kabul',
 'id': 'AFG',
 'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
 'iso2Code': 'AF',
 'latitude': '34.5228',
 'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
 'longitude': '69.1761',
 'name': 'Afghanistan',
 'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'}}
{'adminregion': {'id': '', 'iso2code': '', 'value': ''},
 'capitalCity': '',
 'id': 'AFR',
 'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
 'iso2Code': 'A9',
 'latitude': '',
 'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
 'longitude': '',
 'name': 'Africa',
 'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}}
{'adminregion': {'id': 'SSA',
                 'iso2code': 'ZF',
                 'value': 'Sub-Saharan Africa (excluding high income)'},
 'capitalCity': 'Luanda',
 'id': 'AGO',
 'incomeLevel': {'id': 'LMC', 'iso2code': 'XN', 'value': 'Lower middle income'},
 'iso2Code': 'AO',
 'latitude': '-8.81155',
 'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
 'longitude': '13.242',
 'name': 'Angola',
 'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}}

#### Pull country code and income level from the response

In [77]:
# loop through the response to create a list of dictionaries that are appended to a list

countries_list = countries_response[1]

country_income =[]
countrycount=0


for country in countries_list:
    country_income.append({'countrycode' : country['iso2Code'], 'incomelevel' : country["incomeLevel"]["value"]})
    countrycount = countrycount + 1
    
countrycount

304

#### Convert to Dataframe

In [78]:
# Convert to a dataframe

income_df = pd.DataFrame(country_income)
income_df.head(20)

income_df.head()

  countrycode          incomelevel
0          AW          High income
1          AF           Low income
2          A9           Aggregates
3          AO  Lower middle income
4          AL  Upper middle income

#### Get rid of aggregate data (ie. not individual country info)

In [79]:
# Get rid of the aggregates entry. These are not for individual countries

clean_income_df = income_df[income_df["incomelevel"] != "Aggregates"]

clean_income_df.head(20)

clean_income_df.head()
print(f"Number of countries: {len(clean_income_df)}")
clean_income_df.head()

Number of countries: 218

  countrycode          incomelevel
0          AW          High income
1          AF           Low income
3          AO  Lower middle income
4          AL  Upper middle income
5          AD          High income

### Create table in database

In [80]:
# Define connection to database

pg_user = 'postgres'
pg_password = 'Dhanista#4'
db_name = 'ETL-Project'

connection_string = f"{pg_user}:{pg_password}@localhost:5433/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [81]:
# output income dataframe to the database
clean_income_df.to_sql(name='country_income', con=engine, if_exists='append', index=False)

In [82]:
db_user='postgres'
db_password='Dhanista#4'
db_host='localhost'
db_port=5433
db_name='ETL-Project'
engine = create_engine(f"postgres://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
print(engine)

Engine(postgres://postgres:***@localhost:5433/ETL-Project)